.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.google-image-for-adding {
  background-color: grey;
  border-color: blue;
  border-width: medium;
  width: 400px;
  margin: 0 auto;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  height: 200px;
}

div.gallery img {
  display:block;
  margin:auto;
  height: 200px;
}
