
.google-image-for-adding {
  background: linear-gradient(to bottom right, #000000, #2F4F4F);
  border-color: blue;
  border-width: medium;
  width: 500px;
  color: #3b73ff;
  text-align: center;
  text-shadow: none;
}

.searched-image {
  width: 300px;
}

a:hover {
  color: black;
}
